#pic>img {
    width: 235px;
     height: auto;
    
}
#headWrapper p {
    border: 1px solid black;
    width: 140px;
    float:left;
    margin: 10px;
    height: 50%;
    
}

#Wrapper {
    width: auto; 
    display: flex;
    flex-direction: row;
    
} 

 @media screen and (max-width:480px) {
     #Wrapper{
         flex-direction: column;
     }
    #pic>img {
        width: 100%;
    }
    #photoWrapper{
        column-count: 2;
    }
    #headWrapper p{
        width: auto;
        height: auto;
    }
} 


